.pc-logo {
  max-width: 137.5px;
  min-width: 70px;
  padding: 0.2rem 0 0.2rem 0;
}

.pc-header--contact {
  font-size: 0.8rem;
  padding: 0.3rem 1rem 0 0;
  font-weight: bold;
}

@media screen and (max-width: 18.75rem) {
  .pc-header--contact {
    font-size: 0.6rem;
    padding: 0.3rem 0.7rem 0 0;
    // display: none;
  }
}

@media screen and (max-width: 14rem) {
  .pc-header--contact {
    display: none;
  }
}
